@font-face {
  font-family: 'GeistMono';
  src: url('geist_font/GeistMono-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('geist_font/GeistMono-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('./geist_font/GeistMono-Regular.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('geist_font/GeistMono-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#animation-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Explicitly set to ensure consistent layout */
  gap: 2px;
  /* width: 80vw;
  height: 80vh; */
}

.grid-item {
  font-family: 'GeistMono', monospace;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.number {
  font-size: 0.8rem; /* Adjust as needed */
  color: #fff;
  transition: color 0.5s;
}

.underline-text {
  text-decoration: underline;
  color: #000000; /* Ensure text color is black */
}
